.countries-data{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 5rem;
    margin-top: 7.5rem;
    margin-left: 5rem;
    margin-right: 5rem;
    margin-bottom: 7.5rem;
}

.countries-data a {
    text-decoration: none;
}

.message {
    color: hsl(200, 15%, 8%);
}

.message.dark {
    color: #fff;
}

.countries-display{
    width: 25rem;
    min-height: 28rem;
    display: flex;
    flex-direction: column;
    color: hsl(200, 15%, 8%);
    background-color: hsl(0, 0%, 98%);
    padding-bottom: 1.5rem;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.1); 
    cursor: pointer;
}

.countries-display:hover {
    border: 1px solid hsl(200, 15%, 8%);
}

.countries-display.dark:hover {
    border: 1px solid #fff;
}

.countries-display.dark {
    color: #fff;
    background-color: hsl(209, 23%, 22%);
}

img {
    width: 25rem;
    height: 12.5rem;
}

.country-info {
    margin-left: 2rem;
    margin-right: 2rem;
}

.country-info p {
    line-height: 1.4rem;
}

.title {
    font-size: 1.4rem;
}

.details {
    font-size: 1.35rem;
}

.countries-data h2 {
    margin: auto;
    margin-top: -5rem;
    width: 35rem;
}

.features {
    margin-top: 10rem;
    display: flex;
    justify-content: space-between;
    margin-left: 5rem;
    height: 4rem;
    margin-right: 3.5rem;
}

@media (max-width:375px) {
    .features {
        max-width: fit-content;
        flex-direction: column;
        justify-content: space-between;
        text-align: center;
        align-items: center;
        min-height: 35rem;
        margin-top: 12.5rem;
        margin-left: 2rem;
        margin-right: 2rem;
    }

    .countries-data {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .countries-display {
        width: 29rem;
        min-height: 33rem;
        padding-bottom: 2rem;
        margin-top: -3rem;
        margin-bottom: 2rem;
    }
    
    .countries-display img {
        width: 29rem;
        height: 15rem;
    }

    .country-info {
        margin-left: 3rem;
        margin-right: 3rem;
        margin-top: 0.5rem;
    }

    .country-info p {
        line-height: 1.5rem;
    }
    
    .country-info .title {
        font-weight: 500;
        font-size: 1.5rem;
    }
    
    .country-info .details {
        font-size: 1.35rem;
    }
    
    .country-info h3 {
        font-size: 2.25rem;
    }

    .countries-data h2 {
        margin-top: -2rem;
        margin-left: 2.5rem;
        width: 25rem;
    }
}