.country-detail {
    margin-top: 15rem;
    margin-left: 5rem;
    margin-right: 5rem;
}

.country-detail-content {
    margin-top: 6rem;
    min-height: 27.5rem;
}

.country-detail-content img {
    float: left;
    width: 42.5rem;
    height: 27.5rem;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.1); 
}

.country-detail-info {
    display: flex;
    flex-direction: column;
    min-height: 25rem;
    justify-content: space-evenly;
}

.country-detail-info.dark {
    color: #fff;
}

.parts {
    display: flex;
    justify-content: space-between;
    margin-left: 10rem;
    margin-top: -2rem;
    margin-right: 5rem;
    line-height: 2.5rem;
}

.goback {
    color: hsl(200, 15%, 8%);
    width: 10rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    cursor: pointer;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.1); 
    border: none;
}

.goback.dark,
.borders.dark {
    color: #fff;
    background-color: hsl(209, 23%, 22%);
}

.border-buttons {
    margin-left: 10rem;
    display: flex;
    width: 60rem;
    align-items: center;
    flex-wrap: wrap;
    gap: 1rem;
}

.borders {
    color: hsl(200, 15%, 8%);
    width: 7rem;
    padding: 0.2rem;
    cursor: pointer;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.1); 
    border: none;
}

.topic {
    margin-left: 10rem;
}

@media (max-width:375px) {
    .country-detail-container,
    .country-detail-content,
    .parts {
        display: flex;
        flex-direction: column;
    }

    .country-detail-container {
        width: 32.5rem;
        margin-left: -2.5rem;
        min-height: 80rem;
        padding-bottom: 5rem;
    }

    .goback {
        padding: 1rem;
    }

    .country-detail-content img {
        width: 32.5rem;
        height: 22.5rem;
    }

    .topic,
    .parts,
    .border-buttons {
        margin-left: 0;
    }

    .topic {
        font-size: 2.75rem;
        margin-bottom: 3rem;
    }

    .parts {
        line-height: 3rem;
    }

    .parts .title,
    .border-buttons .title {
        font-size: 1.75rem;
    }

    .parts .details {
        font-size: 1.6rem;
    }

    .part-1 {
        margin-bottom: 4rem;
    }

    .part-2 {
        margin-bottom: 3rem;
    }
    .border-buttons {
        width: 32.5rem;
    }
}