.select {
    height: 4rem;
    background-color: hsl(0, 0%, 98%);
    color:  hsl(209, 23%, 22%);
    width: 14.5rem;
    border: none;
    padding-left: 1rem;
    margin-right: 2.5rem;
    cursor: pointer;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.1); 
}

.select:hover {
    border: 1px solid hsl(200, 15%, 8%);
}

.select.dark:hover {
    border: 1px solid #fff;
}

.select.dark {
    background-color:  hsl(209, 23%, 22%);
    color: #fff;
}
#dropdown-1 option:first-child,
#dropdown-2 option:first-child {
    display: none;
}

option {
    font-size: 1.25rem;
}

@media (max-width: 375px) {
    select {
        height: 5rem;
    }

    #dropdown-1 {
        margin-top: 2.5rem;
        margin-bottom: 2.5rem;
    }
}

