.header-content {
  background-color: hsl(0, 0%, 98%);
  color: hsl(200, 15%, 8%);
  top: 0;
  left: 0;
  position: absolute;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-content.dark,
.button.dark {
  background-color: hsl(209, 23%, 22%);
  color: #fff;
}

.button {
  height: 3rem;
  margin-right: 10rem;
  border: none;
  background-color: hsl(0, 0%, 98%);
  font-weight: 700;
  cursor: pointer;
  font-size: 1.4rem;
  display: flex;
  align-items: center;
}

.button img {
  width: 2rem;
  margin-right: 0.5rem;
}

h2 {
  margin-left: 5rem;
}

@media (max-width:375px) {
  .header-content {
    width: 100%;
  }

  h2 {
    min-height: 7rem;
    display: flex;
    align-items: center;
    margin-left: 2rem;
    font-size: 2rem;
  }

  .button {
    margin-right: 2rem;
  }
}
