.input {
    height: 4rem;
    width: 40rem;
    background-color: hsl(0, 0%, 98%);
    border: none;
    outline: none;
    color: hsl(209, 23%, 22%);
    padding-left: 3rem;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.1); 
}

.input:hover {
    border: 1px solid hsl(200, 15%, 8%);
}

.input.dark:hover {
    border: 1px solid #fff;
}

.input.dark {
    background-color: hsl(209, 23%, 22%);
    color: #fff;
}

input::placeholder {
    color: hsl(209, 23%, 22%);
}

input.dark::placeholder {
    color: #fff;
}

@media (max-width:375px) {
    .input {
        width: 30rem;
        height: 5rem;
        border-radius: 0.75rem;
    }
}

