:root {
  font-size: 10px;
  --body-background-light: white; 
  --body-background-dark: hsl(207, 26%, 17%);
}

body {
  font-size: 1.6rem;
  font-family: 'Nunito Sans';
  background-color: var(--body-background-light); 
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

